@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


/* body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */

.markdown-body pre code {
	word-wrap: break-word !important;
	white-space: pre-wrap !important;
 }

 .markdown-body ol, .markdown-body ul {
	list-style: inherit;
}